<style>
    .dil-navbar{
        background-color: #000;
        color: #fff;
    }
    .dil-img{
        width: 33px;
        height: 33px;
        cursor: pointer;

    }
    .dil-img:hover{
        /* width: 35px; */
        /* height: 35px; */
        scale: 1.1;
    }
    .dil-span{
        color: var(--auxiliar1);
    }
</style>

<div class="dil-navbar flex items-center">
    <img class="dil-img p-2 animate__animated animate__bounce" src="../../../assets/svg/homeCasaBlanco.svg" alt="logo de la auxiliar">
    <span class="dil-span">Auxliar Manipuladora del Cartón</span>
</div>
<p>layout works!</p>




<router-outlet></router-outlet >

